---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props
---

<div
  {...props}
  class:list={[
    'fixed hidden size-6 rounded-full border-2 border-black bg-white after:absolute after:left-0 after:top-1 after:m-0.5 after:size-2 after:rounded-full after:bg-black after:content-[""] lg:flex',
    className,
  ]}
>
</div>
