---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props
---

<div
  {...props}
  class:list={[
    'bg-white border-2 border-black rounded-full size-6 fixed lg:flex hidden after:content-[""] after:size-2 after:rounded-full after:bg-black after:absolute after:top-1 after:left-0 after:m-0.5',
    className,
  ]}
>
</div>
